
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  border: 1px solid rgba(0,0,0,.1);
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

#team-sidebar {
  margin-left: 50px;
  height: 600px;
  width: 300px;
  border: 1px solid rgba(0,0,0,.1);

}

#team-sidebar img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

circle:hover {
  opacity: .3;
}
