* {
  font-family: 'Maven Pro', sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}



html {
  object-fit: cover;
  height: 100%;
  background-color: #364d70;
}

body {
  display: flex;
  height: inherit;
}

header {
  position: relative;
  width: 30%;
}

#sidebar-container {
  width: 100%;
  background-color: #364d70;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
}

header h1 {
  width: 350px;
}

header img {
  height: 357px;
  width: 433px;
  transform: scale(.8);
}


#main-container {
  width: 70%;
  height: inherit;
  position: relative;
  background-color: #FFFFFF;
}

#main-container h2 {
  position: absolute;
  bottom: 60px;
  left: 10px;
}

svg {
  box-sizing: border-box;
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0,0,0,.1) -7px 0 7px;
}

#page-header {
  font-size: 40px;
  padding: 20px 0;
}

#team-sidebar {
  padding: 20px;
  margin: 50px;
  height: 250px;
  width: 250px;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border: 2px solid #364d70;
  box-shadow: rgba(0,0,0,.1) 2px 2px 2px;
}

#team-sidebar img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  margin: 20px 0;
}

#team-sidebar h1 {
  font-size: 35px;
}

#team-sidebar li {
  font-size: 25px;
}

#year-slider {
  position: absolute;
  bottom: 10px;
  -webkit-appearance: none;
  -webkit-transition: .2s;
  width: 95%;
  height: 20px;
  background-color: rgba(0,0,0,.4);
  outline: none;
  border-radius: 8px;
  margin: 10px;
}

#year-slider:hover {
  background-color: rgba(0,0,0,.6);
}

#year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FE4119;
    cursor: pointer;
}



#year-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FE4119;
    cursor: pointer;
}

#year-display {
  font-size: 35px;
}

circle:hover {
  opacity: .3;
}
